<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep in Contact!</title>
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            padding: 20px;
        }
        .index {
            display: inline-block;
            padding: 10px 20px;
            background-color: purple;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="logo-pic">
    <img src="https://see.fontimg.com/api/renderfont4/4BAWD/eyJyIjoiZnMiLCJoIjoxMzAsInciOjIwMDAsImZzIjo2NSwiZmdjIjoiIzAwMDAwMCIsImJnYyI6IiNGRkZGRkYiLCJ0IjoxfQ/S2VlcCBpbiBDb250YWN0IQ/scenarieslanted-regular.png" alt="Cool fonts">
</div>
    <h1>Welcome to Keep in Contact !</h1>
    <h3>Manage your contacts easily with your fingertips.</h3>
    <p>Here is where you can store the contact information of people you care to keep in conact with whether it be friend, foe, business or your family. You can upload contacts, delete, and edit anyone in your address book. ENJOY!</p>

    <a href="/contacts" class="index">Visit Contacts</a>
</body>
</html>
